# DB
DB_ROOT_PASSWORD=
DB_NAME=ai_health
DB_USER=ozcoding
DB_PASSWORD=
DB_HOST=mysql
DB_PORT=3306
DB_EXPOSE_PORT=3306

# Docker Image
DOCKER_USER=
DOCKER_REPOSITORY=ai-health
APP_VERSION=v1.0.0
AI_WORKER_VERSION=v1.0.0

# App
SECRET_KEY=
COOKIE_DOMAIN=localhost

# Redis 설정
REDIS_HOST=localhost
REDIS_PORT=6379

# 네이버 클로바 OCR
CLOVA_OCR_SECRET=
CLOVA_OCR_URL=

# [S3 & 공통 AWS 설정]
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-northeast-2
AWS_S3_BUCKET=irudodam-production

# [SES 이메일 설정]
SES_FROM_EMAIL=irudodam@gmail.com

OPENAI_API_KEY=

ENV=local  # local, dev, prod

EYAK_API_KEY=

KAKAO_CLIENT_ID=
KAKAO_REDIRECT_URI=