# DB
DB_ROOT_PASSWORD=
DB_NAME=ai_health
DB_USER=ozcoding
DB_PASSWORD=
DB_HOST=mysql
DB_PORT=3306
DB_EXPOSE_PORT=3306

# Docker Image
DOCKER_USER=
DOCKER_REPOSITORY=ai-health
APP_VERSION=v1.0.0
AI_WORKER_VERSION=v1.0.0

# App
SECRET_KEY=
COOKIE_DOMAIN=localhost

# mail
MAIL_USERNAME=irudodam@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=irudodam@gmail.com
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587

# 네이버 클로바 OCR
CLOVA_OCR_SECRET=
CLOVA_OCR_URL=

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
AWS_S3_REGION=